#### create a program to download stock data from yahoo

In [2]:
import yfinance as yf
import numpy as np
import pandas as pd
import time
from datetime import datetime, timedelta

In [3]:
# define dates
today = datetime.today()
thirty_days_ago = today - timedelta(days=30)

end = today.strftime("%Y-%m-%d")
st = thirty_days_ago.strftime("%Y-%m-%d")

st, end

('2022-03-25', '2022-04-24')

In [4]:
import requests
import pandas as pd

headers = {
    'authority': 'api.nasdaq.com',
    'accept': 'application/json, text/plain, */*',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.141 Safari/537.36',
    'origin': 'https://www.nasdaq.com',
    'sec-fetch-site': 'same-site',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://www.nasdaq.com/',
    'accept-language': 'en-US,en;q=0.9',
}

params = (
    ('tableonly', 'true'),
    ('limit', '25'),
    ('offset', '0'),
    ('download', 'true'),
)

r = requests.get('https://api.nasdaq.com/api/screener/stocks', headers=headers, params=params)
data = r.json()['data']
df = pd.DataFrame(data['rows'], columns=data['headers'])

In [7]:
df.iloc[: , :6].head()

,symbol,name,lastsale,netchange,pctchange,marketCap
0,A,Agilent Technologies Inc. Common Stock,$121.32,-3.97,-3.169%,36409754898.00
1,AA,Alcoa Corporation Common Stock,$67.37,-4.83,-6.69%,12424425321.00
2,AAC,Ares Acquisition Corporation Class A Ordinary ...,$9.83,-0.01,-0.102%,1228750000.00
3,AACG,ATA Creativity Global American Depositary Shares,$1.21,0.04,3.419%,37966073.00
4,AACI,Armada Acquisition Corp. I Common Stock,$9.85,0.00,0.00%,203988575.00

In [8]:
df.shape

(8464, 12)

In [10]:
# save a copy
import os
os.getcwd()

'C:\\Users\\adven\\OneDrive\\Documents\\Repos\\yfinance\\notebook'

In [12]:
os.chdir(r'C:\Users\adven\OneDrive\Documents\Repos\yfinance\data')

In [13]:
os.getcwd()

'C:\\Users\\adven\\OneDrive\\Documents\\Repos\\yfinance\\data'

In [15]:
import pickle

In [16]:
pd.to_pickle(df, "./all_tickers.pkl")